@media only screen and (min-width: 768px) {
  #buger-closer,
  #burger-open {
    display: none;
  }

  .logo {
    width: 59.1px;
    height: 59.1px;
    padding: 10px 16px;
  }

  .menu-options {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0px;
    right: 100px;
    height: 0;
    background-color: #572ee5;
    body.dark & {
      background-color: $gris;
    }
  }

  .menu-options li {
    list-style-type: none;
    text-transform: uppercase;
    background-color: transparent;
    display: flex;
    background: none;
    margin: 25px;

    body.dark & {
      background: $gris;
      a {
        color: #f3f5f8;
      }
    }
  }
  .menu-options hr {
    display: none;
  }
  .btn-grabar {
    display: block;
  }
  .menu-options-links {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #572ee5;
    letter-spacing: 0;
    text-align: center;
  }
  .menu-options-links:hover {
    font-weight: 700;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #572ee5;
    letter-spacing: 0;
    text-align: center;
  }

  .nav-bar .logo {
    margin-left: 157px;
  }
  .inspirate {
    margin-right: 80px;
    margin-top: 24.2px;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #572ee5;
    text-align: center;
    line-height: 50px;
  }
  .searchImg {
    height: 190px;
    width: 399px;
  }
  .input-search {
    height: 50px;
    width: 551px;
  }
  .searchbtn {
    margin-top: -37px;
    margin-right: -490px;
    outline: none;
    border: none;
    background: none;
    img {
      color: #572ee5;
    }
  }
  .img-prueba {
    height: 275px;
    width: 357px;
    margin-left: 60px;
    margin-bottom: 70px;
  }
  .trending-gif {
    height: 100%;
    width: 100%;
    background: #f3f5f8;
    margin-top: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .img-prueba:hover {
    cursor: pointer;
  }
  .resultados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    img {
      width: 260px;
      height: 200px;
      margin: auto;
      margin-top: 20px;
    }
  }

  // FOOTER SECTION
  .footer {
    height: 116px;
    display: flex;
    justify-content: space-around;
    p {
      margin-top: 50px;
    }
  }
  .footer-grabar {
    margin-top: 80px;
    height: 116px;
    display: flex;
    justify-content: space-around;
    p {
      margin-top: 50px;
    }
  }
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  i {
    margin-top: 70px;
  }

  .scroll {
    width: 87%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 360px;
    margin-left: 80px;
  }
  .modal-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 50vw;
    margin-top: 73px;
  }
  .modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.98;
    top: 0;
    left: 0;
    z-index: 1000;

    &-close {
      align-self: flex-end;
      margin-right: 25vw;
    }

    &-gif {
      align-self: center;
      width: 50vw;
      height: 30vw;
      margin-top: 73px;
    }

    &-details {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      align-self: center;
      width: 50vw;
    }
  }
  .searcher-placer {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #572ee5;
    border-radius: 35px;
    text-align: left;
    padding: 0px 0px 0px 0px;
    height: 110%;
    margin: 0px 0px 0px 0px;
    input {
      height: 50px;
      width: 80%;
      text-align: center;
      border: 0;
      margin-left: 30px;
    }
  }
  .search-container {
    width: 100%;
    border-radius: 40px;
    height: 50px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
  }
  .opciones {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 50px;
  }
  .lupa-der {
    position: absolute;
    margin-top: 11px;
    cursor: pointer;
    margin-left: 30px;
  }
  .lupa {
    margin-left: 30px;
    cursor: pointer;
  }
  .hrop {
    margin-top: 5px;
    width: 430px;
    margin-bottom: 15px;
  }
  .btn-btnSlide {
    display: block;
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
    cursor: pointer;
    z-index: 5;
  }
  .btn-btnSlide2 {
    display: block;
    position: absolute;
    margin-top: 160px;
    margin-left: 1260px;
    cursor: pointer;
    z-index: 5;
  }
  .slider {
    display: flex;
  }
  .container-hover {
    display: flex;

    flex-flow: column nowrap;
    justify-content: space-between;
    height: 275px;
    width: 357px;
    &:hover {
      background-color: rgba(74, 30, 227, 0.4);
    }
  }
  .gifo-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 357px;
    height: 275px;
    z-index: -1;
  }
  .card-gifo {
    height: 275px;
    width: 357px;
  }

  .gifo-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 357px;
    height: 275px;
    z-index: -1;
  }
  .card-gifo {
    position: relative;
    width: 300px;
    height: 275px;
    margin: 33px;
    z-index: 2;
  }
  .favoritesSect .fav-Container .gifo-container .gifo-search {
    position: absolute;
    margin: 0 0 0 0;
    width: 357px;
    height: 275px;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
