@media only screen and (min-width: 768px) {
  #buger-closer,
  #burger-open {
    display: none;
  }

  .logo {
    width: 59.1px;
    height: 59.1px;
    padding: 10px 16px;
  }

  .menu-options {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0px;
    right: 100px;
    height: 0;
    background-color: #572ee5;
    body.dark & {
      background-color: $gris;
    }
  }

  .menu-options li {
    list-style-type: none;
    text-transform: uppercase;
    background-color: transparent;
    display: flex;
    background: none;
    margin: 25px;

    body.dark & {
      background: $gris;
      a {
        color: #f3f5f8;
      }
    }
  }
  .menu-options hr {
    display: none;
  }
  .btn-grabar {
    display: block;
  }
  .menu-options-links {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #572ee5;
    letter-spacing: 0;
    text-align: center;
  }
  .menu-options-links:hover {
    font-weight: 700;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #572ee5;
    letter-spacing: 0;
    text-align: center;
  }

  .nav-bar .logo {
    margin-left: 157px;
  }
  .inspirate {
    margin-right: 80px;
    margin-top: 24.2px;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #572ee5;
    text-align: center;
    line-height: 50px;
  }
  .searchImg {
    height: 190px;
    width: 399px;
  }
  .input-search {
    height: 50px;
    width: 551px;
  }
  .searchbtn {
    margin-top: -37px;
    margin-right: -490px;
    outline: none;
    border: none;
    background: none;
    img {
      color: #572ee5;
    }
  }
  .img-prueba {
    height: 275px;
    width: 357px;
    margin-left: 60px;
    margin-bottom: 70px;
  }
  .trending-gif {
    height: 100%;
    width: 100%;
    background: #f3f5f8;
    margin-top: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .img-prueba:hover {
    cursor: pointer;
  }
  .resultados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    img {
      width: 260px;
      height: 200px;
      margin: auto;
      margin-top: 20px;
    }
  }

  // FOOTER SECTION
  .footer {
    height: 116px;
    display: flex;
    justify-content: space-around;
    p {
      margin-top: 50px;
    }
  }
  .footer-grabar {
    margin-top: 80px;
    height: 116px;
    display: flex;
    justify-content: space-around;
    p {
      margin-top: 50px;
    }
  }
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  i {
    margin-top: 70px;
  }
  .gifo-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 0 4%;
    box-sizing: border-box;
  }

  .card-gifo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    margin: px;
    z-index: 2;
  }

  .container-hover {
    justify-content: space-between;
    height: 300px;
    width: 330px;
    &:hover {
      background-color: rgba(74, 30, 227, 0.4);
    }
  }
  img {
    .download {
      width: 20px;
      height: 20px;
      margin: 2px 2px;
    }
  }
  .icon-gifo {
    width: 20px;
    height: 20px;
    margin: 2px 2px;
  }
  .container-desc {
    p {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .gifo-trend {
    position: absolute;
    width: 330px;
    height: 300px;
    z-index: -1;
  }
  .card-gifo-carousel {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .scroll {
    display: flex;
    justify-content: space-between;
    height: 360px;
    margin-left: -20px;
  }
  .modal-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 50vw;
    margin-top: 73px;
  }
  .modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.98;
    top: 0;
    left: 0;
    z-index: 1000;

    &-close {
      align-self: flex-end;
      margin-right: 25vw;
    }

    &-gif {
      align-self: center;
      width: 50vw;
      height: 30vw;
      margin-top: 73px;
    }

    &-details {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      align-self: center;
      width: 50vw;
    }
  }
}
